layout activate ci-2.7.15

export MACHINE_DRIVER=virtualbox
export VIRTUALBOX_CPU_COUNT=2
export VIRTUALBOX_MEMORY_SIZE=8192
export VIRTUALBOX_DISK_SIZE=40000
export VIRTUALBOX_BOOT2DOCKER_URL=https://github.com/boot2docker/boot2docker/releases/download/v18.06.0-ce/boot2docker.iso
export DOCKER_MACHINE_NAME=docker-ci-tools
export DOCKER_MACHINE_IP=$(docker-machine ip $DOCKER_MACHINE_NAME)
